@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=Roboto&display=swap");

@layer components {
  .link {
    @apply hover:underline cursor-pointer;
  }
  .noscrollbar::-webkit-scrollbar {
    display: none;
  }

  .about_card {
    position: relative;
    animation: 1s linear forwards fadeIn;
    transition: cubic-bezier(0.075, 0.8, 0.165, 1);
  }
  @keyframes fadeIn {
    from {
      right: 100vw;
    }
    to {
      right: 0;
    }
  }

  .orderCard:hover .orderCard_overlay {
    opacity: 1;
  }
}
